body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;

}
    .cercle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    align-items: center;

}
.container {
    margin: 2px;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid black;
    animation-name: cercle;
    animation-duration: 3s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    transition: background-color 2s;
    margin: 0 5px;
}
.cercle1 {
    animation-delay: 0s;
}
.cercle2 {
    animation-delay: 1s;
}
.cercle3 {
    animation-delay: 2s;
}
@keyframes cercle {
    0% {background-color: black;}
    50% {background-color: lightslategrey;}
    100% {background-color: white;}
}